---
import '../styles/global.css';
import Header from './Header.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
</head>
<body>
  <Header />
  <slot />
</body>
</html>
